[main]
Description=Student Union
Host=206.207.248.58
AuthType=1
GroupName=StudentUnion
GroupPwd=
enc_GroupPwd=491D7E8BF1921B4E412EC8B5EF150BB78FDC065C7A5C799FD1A6A636F31EB155DEF8C4A3B2C517ED2E3D7C0CA325A87A45A42466B63C35D45A7DBA5CC3083F75
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
